body, html{
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #333333;
}
/************background-image************************/
div[class *= "pimg"] {
	position: relative;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.pimg1{
	padding: 0;
	margin: 0;
	background-image: url(../img/bg1.jpg);
	min-height: 100vh;
	overflow: hidden;
	margin-bottom: -50px;
}

.pimg2{
	background-image: url(../img/bg2.jpg);
	min-height: 400px;
	margin-top: -50px;
	margin-bottom: -50px;
}

.pimg3{
	background-image: url(../img/bg3.jpg);
	min-height: 400px;
	margin-top: -50px;
	margin-bottom: -50px;
}
/***************menu******************************/
.top-menu{
	position: absolute;
	width: 100%;
	top:32px;
	background-color:white;
	padding: 15px 0;
}

.top-menu .container{
	display: flex;
	justify-content: space-between;
}

.menu-text{
	font-size: 36px;
}
/****************simple class**********************/
.blue{
	color: #14afca;
	text-decoration: none;
}

.upper{
	text-transform: uppercase;
}

.d-flex{
	display: flex;
	justify-content: space-around;
}

.wicon{
	flex-wrap: wrap;
}

.dark{
	padding: 50px 0;
	text-align: center;
}

.item{
	padding: 0 70px;
}

.container .d-flex{
	padding-top: 30px;
	padding-bottom: 50px;
}

.mtext1{
	font-family: 'Roboto', sans-serif;
	color:  #424f57;
	font-size: 36px;
	font-weight: 300;
	line-height: 36px;
}

.mtext{
	font-family: 'Roboto', sans-serif;
	color:  #14afca;
	font-size: 36px;
	font-weight: 900;
	line-height: 36px;
	margin-left: -10px;
}

.top-menu ul {
	list-style: none;
}

.top-menu ul li{
	display: inline-block;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: 900;
}

.top-menu ul li:hover{
	color: #14afca;
	cursor: pointer;
}
/*******wrapper for content****************/
.container{
	width: 900px;
	margin: 0 auto;
}

.h2slogan h2{
	text-align: center;
	padding-top: 300px;
	font-family: FuturaBT;
	color:  #ffffff;
	font-size: 52px;
	font-weight: 700;
	line-height: 75px;
}

.text {
	text-align: center;
	background: white;
	width: auto;
	height: auto;
}

.separateh2{
	font-family: 'Roboto', sans-serif;
	color:  #14afca;
	font-size: 60px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

.separateh4{
	font-family: OpenSans;
	font-size: 18px;
	font-weight: 600;
	color:  #424f57;
	margin-top: 10px;
}

.separetep{
	font-family: 'Roboto', sans-serif;
	color:  #424f57;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	padding-bottom: 50px;
}

.separetepbp{
	font-family: 'Roboto', sans-serif;
	color:  #424f57;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 20px;
}
/************footer class**********************/
.copyright{
	padding: 0;
}

.copyright {
	padding-top: 50px;
	font-family: OpenSans;
	color:  #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.design{
	font-family: OpenSans;
	color:  #3d3c3c;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	display: inline-block;
	padding: 0;
}

.designername{
	display: inline-block;
	font-family: OpenSans;
	color:  #3d3c3c;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	text-indent: 5px;
	padding: 0;
	padding-bottom: 50px;
}
/***********figure block*****************/
.border {
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: white transparent transparent transparent;
}

.border1 {
	border-style: solid;
	border-width: 50px calc(100vw /2 - 10px) 0 calc(100vw /2 - 10px);
	border-color: transparent white transparent white;
}

.text{
	margin-top: 50px;
}
/*************wrapper for image block*************************/
.container.dark .separateh4{
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 40px;
}

.container.dark .separetep{
	font-family: OpenSans;
	color:  #d3cccc;
	font-size: 16px;
	font-style: italic;
	line-height: 28px;
	padding-bottom: 0;
}

.container.dark .author{
	font-family: OpenSans;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	line-height: 28px;
	text-align:right;
}

.container.d-flex.wicon img{
	margin: 15px;
}
